@media screen and (max-width: 1200px) {
	.navbar {
		width: 100%;
		border-radius: 0
	}

	.toggle {
		display: block;
		color: #fff;
		position: relative;
		z-index: 10;
		font-size: 1.5rem;
		cursor: pointer;
		opacity: 1;
		transition: opacity 0.2s ease 0.8s;
	}

	.hideToggle > .toggle {
		opacity: 0;
		transition-delay: 0s;
	}

	.filters {
		visibility: hidden;
		width: 100%;
		height: 100vh;
		background: $red-color;
		flex-direction: column;
		padding: 2rem;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		opacity: 0;
		transition: visibility 0s linear 0.4s, opacity 0.4s ease;
	}

	.navbar.open > .filters {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}

	.filters .search-bar {
		width: 60%;
	}

	.navbar.open .toggle {
		position: fixed;
		right: 15px;
	}

	.filters .all-pkmn, .filters select {
		margin: 0;
		margin-bottom: 1rem;
	}

	.filters select {
		width: 20%;
	}

	.screen {
		margin: 0 1rem 4rem 1rem;
		width: 100%;
		text-align: center;
	}

	.visor-display {
		width: 0;
		height: 100%;
	}

	.visor.visorOpen .visor-display {
		width: 100%;
		border-radius: 0;
	}

	.visor.visorOpen .visor-data {
		opacity: 1;
		transition-delay: 0.4s;
	}

	.visor-data {
		padding-top: 5%;
		width: 90%;
		opacity: 0;
		transition: opacity 0.4s ease 0s;
	}

	.visor-data .item-content {
		margin: 1.5rem auto 0 auto;
	}

	.visor-button {
		display: none;
	}

	.close-button {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	
	.list-item {
		width: 70%;
	}

	.visor-data .item-content {
		margin-top: 1.5rem;
	}

	.visor-data .item-content.item-data p {
		font-size: 1.25rem;
	}

	.visor-data .item-content.item-types p {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 715px) {
	.list-item {
		width: 100%;
	}

	footer {
		left: 0;
		width: 70%;
		border-radius: 0 50px 0 0;
	}
}

@media screen and (max-width: 560px) {
	.filters .search-bar {
		width: 100%;
	}

	.filters select {
		width: 40%;
	}

	footer {
		width: 100%;
		border-radius: 0;
	}
}